accelerate
streamlit
bitsandbytes
ipykernel
langdetect
matplotlib
torch
nltk
numpy
pandas
scipy
seaborn
transformers
wordcloud
langchain
langchain-community
langchain-huggingface
sentence-transformers
streamlit-lottie